{% extends 'admin_panel/auth/layout.html' %}

{% block content %}
    <div>
        <h3 class="text-center">Login to panel</h3>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="border p-4 rounded">


                <div class="form-body">
                    <form id="form" action="" class="row g-3" novalidate>
                        <div class="col-12">
                            <label for="inputEmailAddress" class="form-label">Email Address</label>
                            <input type="tel" name="phone" class="form-control" id="email">
                        </div>
                        <div class="col-12">
                            <label for="inputChoosePassword" id="pass" class="form-label">Enter Password</label>
                            <div class="input-group" id="show_hide_password">
                                <input name="password" type="password" class="form-control" id="pass">
                                <a href="javascript:;" class="input-group-text bg-transparent"><i
                                        class='bx bx-hide'></i></a>
                            </div>
                        </div>


                        <div id="msg">

                        </div>
                        <div class="col-12">
                            <div class="d-grid">
                                <button id="sbmt" class="btn btn-primary"><i class="bx bxs-lock-open"></i>Sign in
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}



{% block script %}

<!-- Firebase App -->
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
<!-- Firebase Auth -->
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    const firebaseConfig = {
        apiKey: "AIzaSyCcKqDRuZ6derILcuP5Uu3hoTK6saQ2hI0",
        authDomain: "tilubee-ff65a.firebaseapp.com",
        projectId: "tilubee-ff65a",
        storageBucket: "tilubee-ff65a.firebasestorage.app",
        messagingSenderId: "945247805903",
        appId: "1:945247805903:web:667886be28220f18a532ba",
        measurementId: "G-C8R8C9MJR6"
      };

    firebase.initializeApp(firebaseConfig);
    const auth = firebase.auth();
</script>

    <script>
        $('#sbmt').click(function (event){
            event.preventDefault()
            const email = $('#email').val()
            const pass = $('#pass').val()
            loadOn()
            auth.createUserWithEmailAndPassword(password)
                .then((user) => {
                    loadOff()
                    console.log(`User was created successfully: ${user}`)
                })
                .catch((error) => {
                    loadOff()
                    console.log(`An error occurred: ${error}`)
                })
        })
    </script>
{% endblock %}

