{% extends "crm/layout.html" %}
{% load static %}

{% block title %}
    <title>SportyCredit - Analysis</title>
{% endblock %}

{% block content %}
    <style>

        .progress-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .progress {
            flex-grow: 1;
            margin: 0 10px;
            height: 18px;
            position: relative;
        }

        .progress-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .progress-bar-text {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .rdp-table-container {
            max-height: 70vh;
            overflow-y: auto;
            position: relative;
        }

        .rdp-table {
            border-collapse: separate;
            border-spacing: 0;
            width: 100%;
        }

        .rdp-thead .rdp-th {
            position: sticky;
            top: 0;
            background-color: #343a40;
            color: white;
            z-index: 3;
        }

        .rdp-tbody .rdp-th {
            position: sticky;
            left: 0;
            background-color: #f8f9fa;
            z-index: 2;
        }

        .rdp-tbody .rdp-td,
        .rdp-tbody .rdp-th {
            white-space: nowrap;
            background-clip: padding-box;
        }

        .rdp-tbody .rdp-tr:nth-child(odd) .rdp-th,
        .rdp-tbody tr:nth-child(odd) .rdp-td {
            background-color: #f1f1f1;
        }

        .rdp-tbody .rdp-tr:nth-child(even) .rdp-th,
        .rdp-tbody .rdp-tr:nth-child(even) .rdp-td {
            background-color: #e9ecef;
        }

        .table-bordered .rdp-th,
        .table-bordered .rdp-td {
            border: 1px solid #dee2e6;
        }

    </style>


		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">


                <div class="card shadow-none bg-transparent border-bottom border-2 mb-4">
                   <div  class="card-body">
                      <div  class="row align-items-center">
                         <div  class="col-md-3">
                            <div class="me-auto fw-bold fs-3">Analyses</div>
                         </div>

                      </div>
                   </div>
                </div>


{% if user.level == 'super admin' or user.level == 'admin' or user.level == 'team leader' %}

{#                REAL DAY ANALYSIS & COLLECTION RATES#}
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2">
                    <div class="col">
                        <div class="card radius-10">
                            <div class="pt-3 ps-3 pb-0" style="display: inline-block">
                                <p style="float: left" class="fw-bold fs-6">Real Day</p>
                                <input style="float: right; width: 30%" type="month" id="rd_month_input"
                                       class="form-control me-2" value="" onchange="get_analysis('rda')">
                            </div>
                            <hr>

                            <div class="card-body" id="rda_show" style="max-height: 65vh; overflow-y: auto">

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card radius-10">
                            <div class="card-body">
                            <div class="pb-0" style="display: inline-block">
                                <p style="float: left" class="fw-bold fs-6">Collection Rates</p>
                            </div>
                            <hr>
                                <div id="collection_rates_chart" data-highcharts-chart="0" style="overflow: hidden;"></div>
                            </div>
                        </div>
                    </div>
                </div>





{#------------   REAL DAY PROGRESSIVE#}
                <div class="row row-cols-1 row-cols-md-12 row-cols-xl-12">
					<div class="">
						<div class="card radius-10">
                            <div class="pt-3 ps-3 pb-0" style="display: inline-block">
                                <p style="float: left" class="fw-bold fs-6">Real-Days Progressive</p><br>
                                <small style="float: left" class="text-danger">*updated at the end of each day</small>

                            </div>
                            <div class="card-body" style="margin-bottom: -1em">
                                <div style="float: right; width: 30%; display: inline-block">
                                    <div style="width: 40%; float: left">
                                        <label for="rdp_start">From:</label>
                                        <input type="date" id="rdp_start" class="me-2" value="" >
                                    </div>

                                    <div style="width: 40%; float: right">
                                        <label for="rdp_end">To:</label>
                                        <input type="date" id="rdp_end" class="me-2" value="">
                                    </div>
                                    <div class="mt-3" style="width: 30%; float: right">
                                        <button id="search_rdp" type="button" class="btn btn-primary px-3 radius-30" onclick="get_analysis('rdp')">Search</button>
                                    </div>

                                </div>

                                <div class="d-flex align-items-center gap-3 mb-3">
                                    <div class="form-check">

                                        <label class="form-check-label fw-bold" for="flexRadioDefault1">
                                          Dimension:
                                        </label>
                                      </div>
                                      <div class="form-check form-check-primary">
                                        <input class="form-check-input" type="radio" name="dimension" value="count" checked>
                                        <label class="form-check-label" for="flexRadioSuccess">
                                          Overdue Loans
                                        </label>
                                      </div>
                                      <div class="form-check form-check-primary">
                                        <input class="form-check-input" type="radio" name="dimension" value="count_rate">
                                        <label class="form-check-label" for="flexRadioDanger">
                                          Overdue Loan Rate
                                        </label>
                                      </div>
                                      <div class="form-check form-check-primary">
                                        <input class="form-check-input" type="radio" name="dimension" value="sum">
                                        <label class="form-check-label" for="flexRadioWarning">
                                          Overdue Amount
                                        </label>
                                      </div>
                                      <div class="form-check form-check-primary">
                                        <input class="form-check-input" type="radio" name="dimension" value="sum_rate">
                                        <label class="form-check-label" for="flexRadioDark">
                                          Overdue Amount Rate
                                        </label>
                                      </div>

                                </div>

                                <label class="form-check-label fw-bold" for="flexRadioDefault1">
                                          Loan Type:
                                        </label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="first_loan" checked="">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      First Loan
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="reloan" checked="">
                                    <label class="form-check-label" for="flexCheckChecked">
                                      Reloan
                                    </label>
                                  </div>


                            </div>

                            <hr>
							<div class="rdp-table-container" style="overflow-x: auto !important;">
								<table class="table rdp-table table-bordered mb-0" >
									<thead class="table-dark rdp-thead">
										<tr>
											<th scope="col" class="rdp-th">Disburse Date</th>
											<th scope="col" class="rdp-th">Loans</th>
											<th scope="col" class="rdp-th">DPD-1</th>
											<th scope="col" class="rdp-th">DPD0</th>
                                            <th scope="col" class="rdp-th">DPD1</th>
                                            <th scope="col" class="rdp-th">DPD2</th>
                                            <th scope="col" class="rdp-th">DPD3</th>
                                            <th scope="col" class="rdp-th">DPD4</th>
                                            <th scope="col" class="rdp-th">DPD5</th>
                                            <th scope="col" class="rdp-th">DPD6</th>
                                            <th scope="col" class="rdp-th">DPD7</th>
                                            <th scope="col" class="rdp-th">DPD8</th>
                                            <th scope="col" class="rdp-th">DPD9</th>
                                            <th scope="col" class="rdp-th">DPD10</th>
                                            <th scope="col" class="rdp-th">DPD11</th>
                                            <th scope="col" class="rdp-th">DPD12</th>
                                            <th scope="col" class="rdp-th">DPD13</th>
                                            <th scope="col" class="rdp-th">DPD14</th>
                                            <th scope="col" class="rdp-th">DPD15</th>
                                            <th scope="col" class="rdp-th">DPD16</th>
                                            <th scope="col" class="rdp-th">DPD17</th>
                                            <th scope="col" class="rdp-th">DPD18</th>
                                            <th scope="col" class="rdp-th">DPD19</th>
                                            <th scope="col" class="rdp-th">DPD20</th>
                                            <th scope="col" class="rdp-th">DPD21</th>
                                            <th scope="col" class="rdp-th">DPD22</th>
                                            <th scope="col" class="rdp-th">DPD23</th>
                                            <th scope="col" class="rdp-th">DPD24</th>
                                            <th scope="col" class="rdp-th">DPD25</th>
                                            <th scope="col" class="rdp-th">DPD26</th>
                                            <th scope="col" class="rdp-th">DPD27</th>
                                            <th scope="col" class="rdp-th">DPD28</th>
                                            <th scope="col" class="rdp-th">DPD29</th>
                                            <th scope="col" class="rdp-th">DPD30</th>
                                            <th scope="col" class="rdp-th">DPD31</th>
										</tr>
									</thead>
									<tbody id="rdp_show" class="rdp-tbody">

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

{% endif %}




{#------------   COLLECTORS DATA ANALYSIS#}
                <div class="row row-cols-1 row-cols-md-12 row-cols-xl-12">
					<div class="">
						<div class="card radius-10">
                            <div class="pt-3 ps-3 pb-0" style="display: inline-block">
                                <p style="float: left" class="fw-bold fs-6">Collectors Data</p>

                            </div>
                            <div style="margin-bottom: -1em; width: 100%;">
                                <div style="float: right; width: 25%; display: inline-block" class="pe-4">
                                    <div style="width: 40%; float: left">
                                        <label for="cda_date">Date:</label>
                                        <input type="date" id="cda_date" class="me-2" value="" >
                                    </div>


                                    <div class="mt-3" style="width: 30%; float: right">
                                        <button id="cda_search" type="button" class="btn btn-primary px-3 radius-30" onclick="get_analysis('cda')">Search</button>
                                    </div>

                                </div>

                                <div style="width: 70%; float: left" class="d-flex align-items-center gap-2 mb-1">
                                    <div class="form-check">

                                        <label class="form-check-label fw-bold" for="flexRadioDefault1">
                                          Collection Stage:
                                        </label>
                                      </div>
                                      {% if user.level == 'super admin' or user.level == 'team leader' %}
                                      <div class="form-check form-check-primary">
                                        <input class="form-check-input" type="radio" name="cda_stage" value="{{ APP_STAGES.keys|join:"," }}" checked id="cda_stage_all">
                                        <label class="form-check-label" for="flexRadioSuccess">
                                          All
                                        </label>
                                      </div>
                                      {% endif %}

                                      {% for stage, details in APP_STAGES.items %}
                                            <div class="form-check form-check-primary">
                                                <input class="form-check-input" type="radio" name="cda_stage" value="{{ stage }}">
                                                <label class="form-check-label" for="flexRadioWarning">
                                                  {{ stage }}
                                                  {% if details.min == details.max %}
                                                    ({{ details.min }})
                                                  {% else %}
                                                    ({{ details.min }}~{{ details.max }})
                                                  {% endif %}
                                                </label>
                                              </div>
                                      {% endfor %}

                                </div>


                            </div>



                            <hr>
							<div class="rdp-table-container">
								<table class="table table-bordered mb-0" >
									<thead class="table-dark rdp-thead">
										<tr>
											<th scope="col" class="rdp-th">Account</th>
											<th scope="col" class="rdp-th">CIQ</th>
											<th scope="col" class="rdp-th">New</th>
											<th scope="col" class="rdp-th">Amount Held</th>
											<th scope="col" class="rdp-th">Paid</th>
                                            <th scope="col" class="rdp-th">PartlyPaid</th>
                                            <th scope="col" class="rdp-th">Paid Rate</th>
                                            <th scope="col" class="rdp-th">Amount Paid</th>
                                            <th scope="col" class="rdp-th">Amt Paid Rate</th>
                                            <th scope="col" class="rdp-th">Notes</th>
										</tr>
									</thead>
									<tbody id="cda_show" class="rdp-tbody">

									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>




			</div>
		</div>
		<!--end page wrapper -->





    <script>
        const success_audio = new Audio("{% static 'crm/audio/correct.mp3' %}");
	        const error_audio = new Audio("{% static 'crm/audio/wrong.mp3' %}");


	         var overlay= $("#overlay");
            var loader= $("#loader");
            var loader_trans= $("#loader-trans");

            function loadOn(){
                overlay.css('display', 'block');
                loader.css('display', 'block');
            }
            function loadOff(){
                overlay.css('display', 'none');
                loader.css('display', 'none');
            }
            function loadOn_trans(){
                loader_trans.css('display', 'block');
            }
            function loadOff_trans(){
                loader_trans.css('display', 'none');
            }

            function notify(status, message){
                if(status === "success" || status ==="info"){
                    success_audio.play();
                }else{
                    error_audio.play();
                }
                toastr[status](message)
            }


            function get_analysis(fetch='rda,rdp,cda,crc'){
                var items = fetch.split(',')
                loadOn()
                $.ajax({
                    url: '{% url "analysis" %}',
                    data: {
                        action: 'get_analysis',
                        date: $("#rd_month_input").val(),
                        rdp_start: $('#rdp_start').val(),
                        rdp_end: $('#rdp_end').val(),
                        rdp_loan_type: get_rdp_loan_type(),
                        rdp_dimension: get_rdp_dimension(),
                        fetch: fetch,
                        cda_date: $('#cda_date').val(),
                        cda_stage: get_cda_stage()
                    },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        loadOff()
                        $.each(items, function (index, value){
                            if(value !== 'crc'){
                                $(`#${value}_show`).html(data.content[value])
                            }
                        })
                        update_crc_chart(data.content['crc']['x'], data.content['crc']['y'])
                    },
                    error: function (err1, err2) {
                        loadOff()
                        notify('error', JSON.stringify(err1))
                    },
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                    }
                })
            }

            function get_rdp_dimension(){
                return $('input[name="dimension"]:checked').val();
            }
            function get_cda_stage(){
                const stage = '{{ user.stage }}'
                const level = '{{ user.level }}'
                if(level === 'super admin' || level === 'team leader'){
                    return $('input[name="cda_stage"]:checked').val();
                }else{
                    return stage
                }

            }

            function get_rdp_loan_type(){
                var loan_type= '';
                if($('#first_loan').is(':checked') && $('#reloan').is(':checked')){
                    loan_type = 'all';
                }else if($('#first_loan').is(':checked') && !$('#reloan').is(':checked')){
                    loan_type = 'first_loan';
                }else if(!$('#first_loan').is(':checked') && $('#reloan').is(':checked')){
                    loan_type = 'reloan'
                }else{
                    loan_type = 'all'

                }
                return loan_type
            }


            window.e1_chart = undefined;
        function update_crc_chart(x, y){
            {#   ----------------- HISTORICAL STATS CHART -------------------------#}
            if (e1_chart !== undefined && e1_chart && typeof e1_chart.destroy === 'function') {
                    e1_chart.destroy();
                }

            var e1 = {
                series: [{
                    name: 'Collection Rate',
                    data: y
                }],
                chart: {
                    foreColor: '#9ba7b2',
                    type: 'bar',
                    height: 470
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '35%',
                        endingShape: 'rounded'
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                title: {
                    text: '',
                    align: 'left',
                    style: {
                        fontSize: '14px'
                    }
                },
                colors: ["#ffc107", '#6A49F2', '#15ca20', '#fd3550'],
                xaxis: {
                    categories: x,
                    title: {
                        text: 'Categories'
                    },
                },
                yaxis: {
                    title: {
                        text: 'Collection Rate'
                    },
                    labels: {
                        formatter: function (val) {
                            return val + "%"
                        }
                    }
                },
                fill: {
                    opacity: 1
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return fetch === 'amount' ? "₦ " + formatNumber(val) : formatNumber(val)
                        }
                    }
                }
	        };
            window.e1_chart = new ApexCharts(document.querySelector("#collection_rates_chart"), e1);
            e1_chart.render();

        }


    </script>

	<script>
	    $(function(){
            $('#rd_month_input').val(get_current_month())
            $('#rdp_start').val(get_current_day(-1))
            $('#rdp_end').val(get_current_day())
            $('#cda_date').val(get_current_day())

            get_analysis()

            $('input[name="cda_stage"]').each(function (){
                const value = $(this).val()
                const level = '{{ user.level }}'
                const stage = '{{ user.stage }}'
                if(level === 'super admin' || level === 'team leader'){
                    $('#cda_stage_all').prop('checked', true)
                }else{
                    if(value !== stage){
                        $(this).prop('disabled', true)
                    }else{
                        $(this).prop('checked', true)
                    }
                }
            })

            $('#timeframe_to').change(function (){
                var start_date = new Date($("#timeframe_from").val())
                var end_date = new Date($(this).val())
                if(start_date > end_date){
                    $(this).val('')
                    $("#timeframe_from").val('')
                    notify('warning', 'Ending date cannot be less than starting date')
                }
            })

            $('#timeframe_from').change(function (){
                var end_date = new Date($("#timeframe_to").val())
                var start_date = new Date($(this).val())
                if(start_date > end_date){
                    $(this).val('')
                    $("#timeframe_to").val('')
                    notify('warning', 'Ending date cannot be less than starting date')
                }

            })




	        $("#order_search").keyup(function(){
	            var key= $(this).val().toLowerCase();
	            if(key !== ""){
	                $('.trs').each(function (){
                        const name = $(this).data('code').toLowerCase()
                        const fullname = $(this).data('fullname').toLowerCase()
                        if(name.startsWith(key) || fullname.startsWith(key)){
                            $(this).show();
                         }else{
                            $(this).hide();
                         }
                    })
	            }else{
                    $('.trs').show()
                }
	        })



	       $('body').on('click', '.trs', function(){
                var row= $(this);
                var fullname= row.data('fullname');
                var country= row.data('country');
                var email= row.data('email');
                var phone= row.data('phone');
                var reg_date= row.data('reg_date');
                var registered= row.data('registered');
                var city= row.data('state');
                var file_status= row.data('file_status');
                var file_name= row.data('file_name');
                var avatar_name= row.data('avatar_name');
                var equity= row.data('equity');
                var total_spot= row.data('total_spot');
                var total_bal= row.data('total_bal');
                var style= row.data('style');
                var status= row.data('status');
                var code= row.data('code');
                var bonus= row.data('bonus');
                var last_access= row.data('last_access');
                var id= row.data('id');
                var total_deposit= row.data('total_deposit');
                var total_with= row.data('total_with');
                var deposit_count= row.data('deposit_count');
                var with_count= row.data('with_count');
                var trade_count= row.data('trade_count');
                var trade2_count= row.data('trade2_count');
                var invest_count= row.data('invest_count');

                $(".details_fullname").val(fullname);
                $(".details_email").val(email);
                $(".details_city").val(city);
                $(".details_phone").val(phone);
                $(".details_reg_date").val(reg_date);
                $(".details_country").val(country);
                $(".details_bonus").val(bonus);
                $(".details_status").css('color', style+' !important');
                $(".details_status").text(status);
                $(".details_equity").val('$'+equity);
                $(".details_total_bal").val('$'+total_bal);
                $(".details_total_spot").val('$'+total_spot);

                $(".details_avatar").attr('src', "" + avatar_name);
                $(".details_last_access").text(last_access);
                $(".details_registered").text(registered);
                $(".details_code").text(code);
                $(".details_text_fname").text(fullname);
                $(".details_total_deposit").val('$'+total_deposit);
                $(".details_total_with").val('$'+total_with);
                $(".deposit_count").text(deposit_count);
                $(".with_count").text(with_count);
                $(".trade_count").text(trade_count);
                $(".trade2_count").text(trade2_count);
                $(".invest_count").text(invest_count);

                $(".details_file_src").attr('src', "" + file_name);
                $(".file_href").attr('href', "" + file_name);
                if(file_status== 1){
                    $(".details_file_status").text('Document is yet to be verified');
                    $(".details_file_status").css('color', 'blue')
                }else if(file_status== 2){
                    $(".details_file_status").text('Document has already been verified!');
                    $(".details_file_status").css('color', 'green')
                }else if(file_status== 100){
                    $(".details_file_status").text('Document was rejected, awaiting client...');
                    $(".details_file_status").css('color', 'red')
                }else if(file_status== 0){
                    $(".details_file_status").text('Client is yet to submit a document!');
                    $(".details_file_status").css('color', 'blue')
                }



                $(".details_reg_date").data('id', id)
                $(".details_deposited").data('id', id)
                $(".details_fullname").data('id', id)
                $(".details_addr").data('id', id)
                $(".details_phone").data('id', id)
                $(".details_addr").data('id', id)
                $(".details_email").data('id', id)
                $(".details_country").data('id', id)
                $(".details_city").data('id', id)
                $(".details_bonus").data('id', id)

                $(".view_tax_trans").data('username', code)
                $(".view_transfer_trans").data('username', code)
                $("#general_username").val(code);
                $('.details_trans_loader').show()


                $(".details_trans").html('<li  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"><h6  class="mb-0">Loading </h6><span  class="text-secondary">...</span><span  class="text-secondary"></span></li>');
                // HANDLE TRABSACTION HISTORY FETCH
                $.post('', {
                    get_user_trans: "set",
                    username: code
                }, function(data, status){
                    $('.details_trans_loader').hide()
                    $(".details_trans").html(data.return);
                }, "JSON");

            })


            $('body').on('click', '.top_actions', function(){
                var action= $(this).data('action');
                loadOn();
                $.post('', {
                    top_actions: "set",
                    username: $("#general_username").val(),
                    action: action
                }, function(data, status){
                    loadOff();
                    if(data.err === 0){
                        notify('success', data.msg)
                        $.post('', {
            	            get_signup_history: "set",
            	            key: '*'
            	        }, function(data, status){
            	            loadOff();
            	            $("#members").html(data);
            	        })
            	        if(action === "erase"){
                    	     $("#close_user").trigger('click');
                    	 }
                    }else{
                        notify('error', data.msg)
                    }
                }, "JSON")
            })



	        $("body").on('blur', '.edit_profile', function(){
	            var id= $(this).data('id');
	            var key= $(this).data('key');
	            var table= $(this).data('table');
	            var username= $("#general_username").val();
	            var table2= $(this).data('table2');
	            var value= $(this).val();
	            $.post('', {
	                save_actions: "set",
	                id: id,
	                table: table,
	                value: value,
	                key: key,
	                username: username
	            }, function(data, status){
	                if(data.err === 1){
	                    notify('warning', data.msg)
	                }else if(data.err === 2){
	                    notify('error', data.msg)
	                }else{
                        if (data.msg !== ""){
                            notify('success', data.msg)
                        }
	                }

	                if(table === "members" && data.err === 0){
    	                $.post('', {
            	            get_signup_history: "set",
            	            key: '*'
            	        }, function(data, status){
            	            $("#members").html(data);
            	        })
    	            }else if(table2 === "deposit_history" && data.err === 0){
    	                $.post('', {
            	            get_deposit_history2: "set",
            	            username: username
            	        }, function(data, status){
            	            $("#deposit_history").html(data);
            	        })
    	            }else if(table2 === "with_history" && data.err === 0){
    	                $.post('', {
            	            get_with_history2: "set",
            	            username: username
            	        }, function(data, status){
            	            $("#with_history").html(data);
            	        })
    	            }else if(table2 === "invest_history" && data.err === 0){
    	                $.post('', {
            	            get_invest_history2: "set",
            	            username: username
            	        }, function(data, status){
            	            $("#invest_history").html(data);
            	        })
    	            }

	            }, "JSON")
	        })



	        $("body").on('change', '.date', function(){
	            var id= $(this).data('id');
	            var key= $(this).data('key');
	            var value= $(this).val();
	            var table= $(this).data('table');
	            var table2= $(this).data('table2');
	            var username= $("#general_username").val();
	            //loadOn();
	            $.post('', {
	                save_actions: "set",
	                id: id,
	                table: table,
	                value: value,
	                key: key,
                    username: username
	            }, function(data, status){
	                if(data.err === 1){
	                    notify('warning', data.msg)
	                }else if(data.err === 2){
	                    notify('error', data.msg)
	                }else{
	                    if (data.msg !== ""){
                            notify('success', data.msg)
                        }
	                }
	                //loadOn();
	                if(table === "members"){
    	                $.post('', {
            	            get_signup_history: "set",
            	            key: '*'
            	        }, function(data, status){
            	            //loadOff();
            	            $("#members").html(data);
            	        })
    	            }else if(table2 === "deposit_history"){
    	                $.post('', {
            	            get_deposit_history2: "set",
            	            username: username
            	        }, function(data, status){
            	            //loadOff();
            	            $("#deposit_history").html(data);
            	        })
    	            }else if(table2 === "with_history"){
    	                $.post('', {
            	            get_with_history2: "set",
            	            username: username
            	        }, function(data, status){
            	            //loadOff();
            	            $("#with_history").html(data);
            	        })
    	            }else if(table2 === "invest_history"){
    	                $.post('', {
            	            get_invest_history2: "set",
            	            username: username
            	        }, function(data, status){
            	            //loadOff();
            	            $("#invest_history").html(data);
            	        })
    	            }

	            }, "JSON")
	        })








	       // DEPOSIT TRANSACTIONS BLOCK
	       $(".view_deposit_history").click(function(){
	           var username= $("#general_username").val();
	           $.post('', {
            	    get_deposit_history2: "set",
            	    username: username
            	 }, function(data, status){
            	     $("#deposit_history").html(data);
            	 })
	       })


	        $('body').on('click', '.deposit_trs', function(){
                var row= $(this);
                var username= $("#general_username").val();
                var amt= row.data('amt');
                var time= row.data('date');
                var code= row.data('code');
                var id= row.data('id');

                $(".details_deposit_amt").val(amt);
                $(".details_username").val(username);
                $(".details_tx_id").val(code);
                $(".details_deposit_time").val(time);

                $(".details_deposit_time").data('id', id)
                $(".details_deposit_amt").data('id', id)

            })


	        $("body").on('click', '.deposit_actions', function(){
	            var id= $(this).data('id');
	            var action= $(this).data('action');
	            var username= $("#general_username").val();
	            loadOn();
	            $.post('', {
	                deposit_actions: "set",
	                id: id,
	                action: action
	            }, function(data, status){
	                if(data.err === 1){
	                    notify('warning', data.msg)
	                }else if(data.err === 2){
	                    notify('error', data.msg)
	                }else{
	                    notify('success', data.msg)
	                }
	                loadOn();
	                $.post('', {
        	            get_deposit_history2: "set",
        	            username: username
        	        }, function(data, status){
        	            loadOff();
        	            $("#deposit_history").html(data);
        	        })

	            }, "JSON")
	        })





	       // WITHDRAWAL TRANSACTION BLOCK
	       $(".view_with_history").click(function(){
	           var username= $("#general_username").val();
	           $.post('', {
            	    get_with_history2: "set",
            	    username: username
            	 }, function(data, status){
            	     $("#with_history").html(data);
            	 })
	       })


	        $('body').on('click', '.with_trs', function(){
                var row= $(this);
                var username= $("#general_username").val();
                var amt= row.data('amt');
                var time= row.data('date');
                var wallet= row.data('wallet');
                var bank_name = row.data('bank_name');
                var acct_name= row.data('acct_name');
                var acct_no= row.data('acct_no');
                var swift= row.data('swift');
                var id= row.data('id');

                if(bank_name === ""){ //IF COIN
                    $('.with_section_coin').show()
                    $('.with_section_bank').hide()
                    $(".details_with_address").val(wallet);
                }else{ //IF BANK
                    $('.with_section_coin').hide()
                    $('.with_section_bank').show()
                    $(".details_with_bank_name").val(bank_name);
                    $(".details_with_acct_name").val(acct_name);
                    $(".details_with_acct_no").val(acct_no);
                    $(".details_with_swift").val(swift);
                }
                $(".details_with_amt").val(amt);
                $(".details_username").val(username);

                $(".details_with_time").val(time);


                $(".details_with_time").data('id', id)
                $(".details_with_amt").data('id', id)
                $(".details_with_wallet").data('id', id)
                $(".details_with_bank_name").data('id', id)
                $(".details_with_acct_name").data('id', id)
                $(".details_with_acct_no").data('id', id)
                $(".details_with_swift").data('id', id)

            })


	        $("body").on('click', '.with_actions', function(){
	            var id= $(this).data('id');
	            var action= $(this).data('action');
	            var username= $("#general_username").val();
	            loadOn();
	            $.post('', {
	                with_actions: "set",
	                id: id,
	                action: action
	            }, function(data, status){
	                if(data.err === 1){
	                    notify('warning', data.msg)
	                }else if(data.err === 2){
	                    notify('error', data.msg)
	                }else{
	                    notify('success', data.msg)
	                }
	                loadOn();
	                $.post('', {
        	            get_with_history2: "set",
        	            key: '*',
        	            username: username
        	        }, function(data, status){
        	            loadOff();
        	            $("#with_history").html(data);
        	        })

	            }, "JSON")
	        })




             // INVESTMENT BLOCK
	       $(".view_invest_history").click(function(){
	           var username= $("#general_username").val();
	           $("#invest_history").html('<tr colspan=12><td style="font-weight: bold">Fetching '+username+'\'s investment data ...</td></tr>');
	           $.post('', {
            	    get_invest_history2: "set",
            	    username: username
            	 }, function(data, status){
            	     $("#invest_history").html(data);
            	 })
	       })


	       $('body').on('click', '.invest_trs', function(){
                var row= $(this);
                var username= $("#general_username").val();
                var amt= row.data('amt');
                var time= row.data('date');
                var id= row.data('id');

                $(".details_invest_amt").val(amt);
                $(".details_username").val(username);
                $(".details_invest_time").val(time);

                $(".details_invest_time").data('id', id)
                $(".details_invest_amt").data('id', id)

            })


	       $("body").on('click', '.invest_actions', function(){
	            var id= $(this).data('id');
	            var action= $(this).data('action');
	            var username= $("#general_username").val();
	            loadOn();
	            $.post('', {
	                invest_actions: "set",
	                id: id,
	                action: action
	            }, function(data, status){
                    loadOff()
	                if(data.err === 1){
	                    toastr['warning'](data.msg)
	                }else if(data.err === 2){
	                    toastr['error'](data.msg)
	                }else{
	                    toastr['success'](data.msg)
	                }
	                $.post('', {
                	    get_invest_history2: "set",
                	    username: username
                	 }, function(data, status){
                	     $("#invest_history").html(data);
                	 })

	            }, "JSON")
	        })






	        // CRYPTO TRADE BLOCK
	       $(".view_trade_history").click(function(){
	           var username= $("#general_username").val();
	           var rows= $("#trade_rows").val();
	           $("#trade_history").html('<tr><td colspan="15" style="font-weight: bold">Fetching '+username+'\'s crypto trades ...</td></tr>');
	           $.post('', {
            	    get_trade_history: "set",
            	    username: username,
            	    rows: rows,
                    trade: 'trade' //for stock, omit this line
            	 }, function(data, status){
            	     $("#trade_history").html(data);
            	 })
	       })



	        $("body").on('blur', '.a_input', function(){
	            var id= $(this).data('id');
	            var key= $(this).data('name');
	            var value= $(this).val();
	            if(value !== ""){
	                loadOn();
	                $.post('', {
	                    update_order: "set",
	                    value: value,
	                    key: key,
	                    id: id,
                        trade: 'trade' //for stock, omit this line
	                }, function(data, status){
	                    loadOff();
	                    if(data.err === 0){
                            if(data.msg !== ""){
                                notify('success', data.msg)
                            }
	                    }else{
	                        notify('error', data.msg)
	                    }
	                }, "JSON")
	            }else{
	                notify('warning', 'Value cannot be empty')
	            }

	        })



	        $("body").on('click', '.actions', function(){
	            var id= $(this).data('id');
	            var action= $(this).data('action');
	            var rows= $("#rows").val();
	            var username= $("#general_username").val();
	            var trade_rows= $("#trade_rows").val();
	            loadOn();
	            $.post('', {
	                order_actions: "set",
	                id: id,
	                action: action,
                    trade: 'trade' //for stock, omit this line
	            }, function(data, status){
                    loadOff()
	                if(data.err === 1){
	                    notify('warning', data.msg)
	                }else if(data.err === 2){
	                    notify('error', data.msg)
	                }else{
	                    notify('success', data.msg)
                            $.post('', {
                            get_trade_history: "set",
                            username: username,
                            rows: rows,
                                trade: 'trade' //for stock, omit this line
                         }, function(data, status){
                             loadOff();
                             $("#trade_history").html(data);
                         })
	                }

	            }, "JSON")
	        })



	        $("#trade_rows").change(function(){
	            var rows= $("#trade_rows").val();
	            var username= $("#general_username").val();
	            loadOn();
	            $.post('', {
            	    get_trade_history: "set",
            	    username: username,
            	    rows: rows,
                    trade: 'trade'
            	 }, function(data, status){
                    loadOff()
            	     $("#trade_history").html(data);
            	 })
	        })






	       // TASK BLOCK
	        $("#sbmt-task").click(function(){
	            var username= $("#general_username").val();
		           var input= $("#new-task").val();
		           if(input === ""){
		               toastr["warning"]('Input cannot be empty');
		           }else{
		               loadOn();
    		           $.post('', {
    		               tasks: "set",
    		               action: "add",
    		               input: input,
    		               username: username
    		           }, function(data, status){
    		               loadOff();
    		               if(data.err === 0){
    		                   notify('success', data.msg);
    		                   $("#show-tasks").html(data.tasks)
    		                   $("#new-task").val('');
    		               }else{
    		                   notify('error', data.msg)
    		               }
    		           }, "JSON")
		           }
		       })


		       $("body").on('change', '.task-status', function(){
		           var username= $("#general_username").val();
		           var id= $(this).data('id');
		           $.post('', {
    		               tasks: "set",
    		               action: "status",
    		               username: username,
    		               id: id
    		           }, function(data, status){
    		               loadOff();
    		               if(data.err === 0){
    		                   notify('success', data.msg);
    		                   $("#show-tasks").html(data.tasks)
    		               }else{
    		                   notify('error', data.msg)
    		               }
    		           }, "JSON")
		       })


		       $("body").on('click', '.delete-task', function(){
		           var username= $("#general_username").val();
		           var id= $(this).data('id');
		           $.post('', {
    		               tasks: "set",
    		               action: "delete",
    		               username: username,
    		               id: id
    		           }, function(data, status){
    		               loadOff();
    		               if(data.err === 0){
    		                   notify('success', data.msg);
    		                   $("#show-tasks").html(data.tasks)
    		               }else{
    		                   notify('error', data.msg)
    		               }
    		           }, "JSON")
		       })


		       $("body").on('blur', '.old-task', function(){
		           var username= $("#general_username").val();
		           var id= $(this).data('id');
		           var input= $(this).val();
		           if(input !== ""){
    		           $.post('', {
        		               tasks: "set",
        		               action: "edit",
        		               username: username,
        		               id: id,
        		               input: input
        		           }, function(data, status){
        		               if(data.err === 0){
        		                   if(data.msg !== ""){
        		                       notify('success', data.msg);
        		                        $("#show-tasks").html(data.tasks)
        		                   }
        		               }else{
        		                   notify('error', data.msg)
        		               }
        		           }, "JSON")
		           }else{
		               toastr["error"]("Input cannot be empty. Note was not saved");
		           }
		       })


		       $("body").on('click', '.view_note', function(){
		           var username= $("#general_username").val();
		           $.post('', {
    		               tasks: "set",
    		               action: "",
    		               username: username
    		           }, function(data, status){
    		               loadOff();
    		               if(data.err === 0){
    		                   notify('success', data.msg);
    		                   $("#show-tasks").html(data.tasks)
    		               }else{
    		                   notify('error', data.msg)
    		               }
    		           }, "JSON")
		       })





	       // ASSIGN
	       $(".assign").click(function(){
	           var username= $("#general_username").val();
	           $("#assign_body").html('<tr colspan=3><td style="font-weight: bold">Loading agents ...</td></tr>');
    	        $.post('', {
    	            assign: "set",
    	            username: username
    	        }, function(data, status){
    	            $("#assign_body").html(data);
    	        })
	       })


	       $("body").on('change', '.assign_check', function(){
	           var username= $("#general_username").val();
	           var agent_id= $(this).data('agent_id');
	           $.post('', {
    	            assign_check: "set",
    	            username: username,
    	            agent_id: agent_id
    	        }, function(data, status){
    	            $("#assign_body").html(data);
    	            notify('success', 'Action success!');
    	        })
	       })




	        $('body').on('mouseover', '.trs, .tax_trs, .transfer_trs, .deposit_trs, .with_trs, .agents_trs', function(){
	            $(this).css({'background':'#E2EDFF', 'color':'#267DFD', 'cursor':'pointer'})
	        })
	        $('body').on('mouseout', '.trs, .tax_trs, .transfer_trs, .deposit_trs, .with_trs, .agents_trs', function(){
	            $(this).css({'background':'white', 'color':'black', 'cursor':'pointer'})
	        })

	        $("body").on('click', '.actions_admins', function(){
	            var id= $(this).data('id');
	            var username= $(this).data('username');
	            var action= $(this).data('action');
	            loadOn();
	            $.post('ajax', {
	                admins_actions: "set",
	                id: id,
	                action: action,
	                username: username
	            }, function(data, status){
	                if(data.err== 1){
	                    notify('warning', data.msg)
	                }else if(data.err== 2){
	                    notify('error', data.msg)
	                }else{
	                    notify('success', data.msg)
	                }
	                loadOn();
	                $.post('ajax', {
        	            get_signup_history: "set"
        	        }, function(data, status){
        	            loadOff();
        	            $("#members").html(data);
        	        })

	            }, "JSON")
	        })


	    })
	</script>


{% endblock content %}


{% block switcher %}


{% endblock switcher %}