

<div class="modal fade" id="allHistoryModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true" style="background-color: #11150F" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #11150F">
            <div class="modal-header">
                <h4 class="align-content-center">Recent Transactions</h4>
                <span class="icon-cancel" data-bs-dismiss="modal" aria-hidden="true"></span>
            </div>

           
            {#        RECENT AND CONVS#}
        <div class="bg-menuDark tf-container mt-8" style='margin: 0; padding-left: 12px; padding-right: 12px'>
            <div class="tf-tab pt-12 mt-4">
                <div class="tab-slide">
                    <ul class="nav nav-tabs wallet-tabs" role="tablist" >
                        <li class="item-slide-effect"></li>
                        <li class="nav-item active" role="presentation">
                            <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#recent">History</button>
                        </li>
                        <li class="nav-item" role="presentation">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#conversions">Conversions</button>
						</li>
                    </ul>
                </div>
                <div class="tab-content pt-16 pb-16">
					<div class="tab-pane fade active show" id="recent" role="tabpanel">
						{% include 'users/history-transactions.html' %}
					</div>
					<div class="tab-pane fade" id="conversions" role="tabpanel">
						{% include 'users/history-conversions.html' %}
					</div>
				</div>
            </div>
        </div>


        </div>
    </div>
</div>
