

<div class="modal fade action-sheet" id="depositModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Select payment method</span>
                    <span class="icon-cancel" data-bs-dismiss="modal" aria-hidden="true"></span>
                </div>
                <div class="modal-body">
                    <ul>
                        <li class="accent-box-v3 bg-surface tf-list-item-v3" data-bs-toggle="modal" data-bs-target="#inflation">
                            <div class="content">
                                <h5><a href="#">Buy with NGN</a></h5>
                                <p class="mt-8 text-small text">Buy crypto with Fiat - Bank Transfer, Visa and Mastercard</p>
                            </div>
                            <span class="icon icon-bank"></span>
                        </li>
                        <li class="mt-8 accent-box-v3 bg-surface tf-list-item-v3" data-bs-toggle="modal" data-bs-target="#inflation">
                            <div class="content">
                                <h5><a href="#">Deposit Crypto</a></h5>
                                <p class="mt-8 text-small text">Already have crypto? Deposit directly</p>
                            </div>
                            <span class="icon icon-coins"></span>
                        </li>
                        <li class="mt-8 accent-box-v3 bg-surface tf-list-item-v3" data-bs-toggle="modal" data-bs-target="#inflation">
                            <div class="content">
                                <h5><a href="#">Deposit using UID (free)</a></h5>
                                <p class="mt-8 text-small text">Already have crypto? Deposit using Binance/ByBit UID</p>
                            </div>
                            <span class="icon icon-convert2"></span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
