{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
    <!-- font -->
    <link rel="stylesheet" href="{% static 'users/fonts/fonts.css' %}">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'users/fonts/font-icons.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'users/css/swiper-bundle.min.css' %}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'users/images/logo/48.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'users/images/logo/48.png' %}" />

    <link rel="stylesheet" href="{% static 'users/css/icomoon-font.css' %}">
    <title>PROJECT_NAME User</title>
    <style>
        .tf-btn {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            color: #fff;
        }

        .tf-btn:hover {
            opacity: 0.9;
        }
        .close-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            color: #000;
            cursor: pointer;
        }
        .close-icon:hover {
            color: #007bff;
        }

        .conv-img{
            width: 18px !important;
            height: 18px !important;
        }
        .history-ref, .long-line {
            word-break: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            display: block;
            text-align: right;
        }
        #historyModal {
            z-index: 2000;
        }

        #infoModal .modal-dialog {
            margin-top: 30vh; 
        }
        .noti-item{
            min-width: 100%
        }
        #confirmModal{
            z-index: 999999;
        }
    </style>
</head>

<body>
     <!-- preloader -->
     <div class="preload preload-container">
        <div class="preload-logo" style=""> <img src="{% static 'users/images/logo/144.png' %}">
          <div class="spinner"></div>
        </div>
      </div>
      <!-- /preload -->

    {% block content %}{% endblock %}


    <!-- noti popup -->
    <div class="modal fade modalCenter" id="confirmModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content modal-sm">
              <div class="p-16 line-bt text-center">
                  <h4>Comfirm Your Action</h4>
                  <p class="mt-8 text-large confirm-message"></p>
              </div>
              <div class="grid-2">
                 <a href="#" class="line-r text-center text-button fw-6 p-10 text-secondary btn-hide-modal confirm-cancel" data-bs-dismiss="modal" >Cancels in <span id='confirm-cd'></span></a>
                 <a href="#" class="text-center text-button fw-6 p-10 text-primary btn-hide-modal confirm-proceed"> Proceed</a>
              </a>
              </div>
           </div>
        </div>
    </div>



    <!-- Info popup -->
    <div class="modal fade modalCenter" id="infoModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content modal-sm">
              <div class="p-16 text-center">
                  <p class="text-large info-message text-light"></p>
              </div>
           </div>
        </div>
    </div>



    <div class="modal fade modalCenter" id="amountNotifyModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content success_box">
                <a href="#0" class="close-icon icon-close notify-cancel" data-bs-dismiss="modal" aria-label="Close"></a>
                 <div class="icon-1 ani3">
                        <span class="circle-box lg bg-circle check-icon notify-circles notify-icon"></span>
                 </div>
                <div class="icon-2 ani5">
                    <span class="circle-box md notify-circles"></span>
                </div>
                <div class="icon-3 ani8">
                    <span class="circle-box md notify-circles"></span>
                </div>
                <div class="icon-4 ani2">
                    <span class="circle-box sm notify-circles"></span>
                </div>
                <div class="text-center">
                    <h2 class="text-surface notify-title">Successful!</h2>
                    <h1 class="mt-8 text-primary notify-amount">0</h1>
                    <p class="mt-16 text-surface text-button notify-message">Notification</p>
                </div>

                <a href="#0" data-bs-dismiss="modal" class="tf-btn lg notify-circles mt-40 notify-done">Okay</a>
            </div>
        </div>
    </div>

    <div class="modal fade modalCenter" id="notifyModal" data-bs-backdrop="static" data-bs-keyboard="false" style="z-index: 10000">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content success_box">
                <a href="#0" class="close-icon icon-close notify-cancel" data-bs-dismiss="modal" aria-label="Close"></a>
                 <div class="icon-1 ani3">
                        <span class="circle-box lg bg-circle check-icon notify-circles notify-icon"></span>
                 </div>
                <div class="icon-2 ani5">
                    <span class="circle-box md notify-circles"></span>
                </div>
                <div class="icon-3 ani8">
                    <span class="circle-box md notify-circles"></span>
                </div>
                <div class="icon-4 ani2">
                    <span class="circle-box sm notify-circles"></span>
                </div>
                <h3 class="text-surface text-center notify-title"></h3>
                <p class="text-large text-center mt-8 notify-message"></p>

                <a href="#0" data-bs-dismiss="modal" class="tf-btn lg notify-circles mt-40 notify-done">Okay</a>
            </div>
        </div>
    </div>



     <div class="menubar-footer footer-fixed bg-surface" style='padding: 5px 5px 5px'>
        <ul class="inner-bar">
            <li class="{% if page == 'home' %}active{% endif %}">
                <a href="{% url 'users:wallet' %}">
                    <i class="icon icon-home2"></i>
                    Home
                </a>
            </li>
            <li class="{% if page == 'convert' %}active{% endif %}">
                <a href="{% url 'users:convert' %}">
                    <i class="icon icon-exchange"></i>
                    Convert
                </a>
            </li>
            <li>
                <a href="#0" onclick="info('Coming soon...')">
                    <i class="icon icon-earn"></i>
                    Earn
                </a>
            </li>
            <li class="{% if page == 'wallet' %}active{% endif %}">
                <a href="{% url 'users:wallet2' %}">
                    <i class="icon icon-wallet"></i>
                    Wallet
                </a>
            </li>
        </ul>
    </div>


    <!-- filter history -->
    <div class="modal fade action-sheet" id="filterHistory">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Filters</span>
                    <span class="icon-cancel" data-bs-dismiss="modal" aria-hidden="true"></span>
                </div>
                <div class="modal-body">
                    <div class="text-button fw-6 text-white">Time</div>
                    <ul class="grid-2 rcg-12-16 mt-16">
                        <li><a href="javascript:void(0);" class="tf-btn xs line active text-secondary item-time filter-duration" data-value="0">All</a>
                        </li>
                        <li><a href="javascript:void(0);" class="tf-btn xs line text-secondary item-time filter-duration" data-value="1">24 Hours</a>
                        </li>
                        <li><a href="javascript:void(0);" class="tf-btn xs line text-secondary item-time filter-duration" data-value="7">7 Days</a>
                        </li>
                        <li><a href="javascript:void(0);" class="tf-btn xs line text-secondary item-time filter-duration" data-value="12">12 Days </a>
                        </li>
                        <li><a href="javascript:void(0);" class="tf-btn xs line text-secondary item-time filter-duration" data-value="30">30 Days</a>
                        </li>
                        <li><a href="javascript:void(0);" class="tf-btn xs line text-secondary item-time filter-duration" data-value="90">3 Month</a>
                        </li>
                        <li><a href="javascript:void(0);" class="tf-btn xs line text-secondary item-time filter-duration" data-value="180">6 Month</a>
                        </li>
                        <li><a href="javascript:void(0);" class="tf-btn xs line text-secondary item-time filter-duration" data-value="360">12 Month</a>
                        </li>
                    </ul>
                    <div class="text-button fw-6 text-white mt-16">Categories</div>
                    <ul class="grid-2 rcg-12-16 mt-16">
                        <li><a href="javascript:void(0);"
                               class="tf-btn xs line active text-secondary item-category filter-category" data-value="all">All</a></li>
                        <li><a href="javascript:void(0);" class="tf-btn xs line text-secondary item-category filter-category" data-value="">Withdrawals</a></li>
                        <li><a href="javascript:void(0);" class="tf-btn xs line text-secondary item-category filter-category" data-value="">Deposit</a></li>
                    </ul>
                    <div class="mt-16 pt-16 line-t grid-2 gap-16">
                        <a href="javascript:void(0);" class="tf-btn sm secondary" data-bs-dismiss="modal">Reset</a>
                        <a href="javascript:void(0);" class="tf-btn sm primary" data-bs-dismiss="modal">Apply</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    



    <script type="text/javascript" src="{% static 'users/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/count-down.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/apexcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/chart.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/line-chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/detail-chart.js' %}"></script>

    <script type="text/javascript" src="{% static 'users/js/main.js' %}"></script>

    <script type="application/javascript">
        const main_wallets = ['ngn', 'btc', 'usdt', 'eth', 'bnb', 'trx']
        const token_base_url = "{% static 'transactions/images/tokens' %}"
        const images_base_url = "{% static 'users/images' %}"
        const wallet_base_url = '{% url "users:wallet" %}'
        const convert_base_url = "{% url 'users:convert' %}"
        const deposit_base_url = "{% url 'users:deposit' %}"
        const withdrawal_base_url = "{% url 'users:withdrawal' %}"
        const settings_base_url = "{% url 'users:settings' %}"
        const logout_url = "{% url 'user_auth:logout' %}"
        const verify_email_url = "{% url 'user_auth:verify_email' %}"
        const csrf_token = "{{ csrf_token }}"

        function showPreloader(){
            $(".preload").fadeIn("slow");
        }

        function hidePreloader(){
            $(".preload").fadeOut("slow");
        }

        function notify(status, message, action=null, redirect=null, timeout=null){
            let title = ''
            let stat = ''
            action = action || 'Ok'
            if (status === 'success'){
                title = 'Request Success'
                stat = 'success'
            } else if (status === 'error'){
                title = 'Request Failed'
                stat = 'danger'
            } else if (status === 'info'){
                title = 'Info'
                stat = 'info'
            } else {
                title = 'Warning'
                stat = 'warning'
            }
            $('.notify-circles').removeClass('bg-warning').removeClass('bg-success').removeClass('bg-danger').removeClass('bg-info').toggleClass(`bg-${stat}`);
            $('.notify-icon').removeClass('success-icon').removeClass('warning-icon').removeClass('info-icon').removeClass('danger-icon').toggleClass(`${stat}-icon`);
            $('.notify-title').text(title);
            $('.notify-message').text(message);
            if(redirect){
                $('.notify-done').attr('href', redirect).attr('data-bs-dismiss', '');
                $('.notify-cancel').attr('href', redirect).attr('data-bs-dismiss', '');
            }
            $('.notify-done').text(action)
            $('#notifyModal').modal('show')
        }

        function notify_kwarg({status, message, action=null, redirect=null, timeout=0} = {}){
            let title = ''
            let stat = ''
            action = action || 'Ok'
            if (status === 'success'){
                title = 'Request Success'
                stat = 'success'
            } else if (status === 'error'){
                title = 'Request Failed'
                stat = 'danger'
            } else if (status === 'info'){
                title = 'Info'
                stat = 'info'
            } else {
                title = 'Warning'
                stat = 'warning'
            }
            $('.notify-circles').removeClass('bg-warning').removeClass('bg-success').removeClass('bg-danger').removeClass('bg-info').toggleClass(`bg-${stat}`);
            $('.notify-icon').removeClass('success-icon').removeClass('warning-icon').removeClass('info-icon').removeClass('danger-icon').toggleClass(`${stat}-icon`);
            $('.notify-title').text(title);
            $('.notify-message').text(message);
            if(redirect){
                $('.notify-done').attr('href', redirect).attr('data-bs-dismiss', '');
                $('.notify-cancel').attr('href', redirect).attr('data-bs-dismiss', '');
            }
            $('.notify-done').text(action)
            $('#notifyModal').modal('show')
            if(timeout > 0){
                setTimeout(function (){
                    $('#notifyModal').modal('hide')
                }, timeout)
            }
        }

        function notifyAmount(amount, message, action=null, redirect=null){
            let title = ''
            let stat = ''
            action = action || 'Ok'
            title = 'Request Success'
            stat = 'success'
            $('.notify-circles').removeClass('bg-warning').removeClass('bg-success').removeClass('bg-danger').removeClass('bg-info').toggleClass(`bg-${stat}`);
            $('.notify-icon').removeClass('success-icon').removeClass('warning-icon').removeClass('info-icon').removeClass('danger-icon').toggleClass(`${stat}-icon`);
            $('.notify-title').text(title);
            $('.notify-amount').text(amount);
            $('.notify-message').text(message);
            if(redirect){
                $('.notify-done').attr('href', redirect).attr('data-bs-dismiss', '');
                $('.notify-cancel').attr('href', redirect).attr('data-bs-dismiss', '');
            }
            $('.notify-done').text(action)
            $('#amountNotifyModal').modal('show')
        }

        function trim(str) {
            if (str.length <= 17) {
                return str;
            }
            return str.substring(0, 11) + "..." + str.slice(-5);
        }

        function countdown(seconds, elementId, onStart, onComplete) {
            if(typeof onStart === 'function'){
                onStart()
            }
            let timer = setInterval(function () {
                let minutes = Math.floor(seconds / 60);
                let remainingSeconds = seconds % 60;

                let timeString = `${String(minutes).padStart(2, '0')}:${String(remainingSeconds).padStart(2, '0')}`;

                if (elementId) {
                    $(`#${elementId}`).text(timeString);
                }

                seconds--;

                if (seconds < 0) {
                    clearInterval(timer);
                    if (typeof onComplete === 'function') {
                        onComplete();
                    }
                }
            }, 1000);
        }

        function fmtNum(num) {
            num = fmt(num)
            if (isNaN(num)) return '...';
            let [integer, decimal] = num.toString().split('.');
            integer = integer.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            return decimal ? `${integer}.${decimal}` : integer;
        }

        function fmt(amount) {
            let amt;
            if (amount < 0.09) {
                amt = amount.toFixed(5);
            } else if (amount >= 0.09 && amount < 1) {
                amt = amount.toFixed(3);
            } else {
                amt = amount.toFixed(2);
            }
            return parseFloat(amt);
        }

        function confirm(message, callback){
            $('.confirm-message').text(message)
            $('#confirmModal').modal('show')
            countdown(7, 'confirm-cd', null, function(){
                $('#confirmModal').modal('hide')
            })
            $('.confirm-proceed').click(function(){
                $('#confirmModal').modal('hide')
                if(typeof callback === 'function')
                callback()
            })
        }

        function info(message, duration, backdrop){
            duration = duration || 1
            $('.info-message').text(message)
            $('#infoModal').modal('show')
            if(backdrop !== null && backdrop === false){
                $('.modal-backdrop').remove();
            }
            countdown(1, '0', null, function(){
                $('#infoModal').modal('hide')
            })
        }

        function overlay_modal(id){
            var modal = new bootstrap.Modal(document.getElementById(id));
            modal.show();
        }

        $('body').on('click', '.copy', function () {
            const item = $(this).data('item');
            navigator.clipboard.writeText(item);
            const html = $(this).html()
            $(this).text(' copied!');
            const $elem = $(this);
            setTimeout(function (){
                $elem.html(html)
            }, 1500)
        })


        $(function (){
            if (localStorage.getItem('base-currency') === null) {
                localStorage.setItem('base-currency', 'usd');
                $('.base-currency').text('USD')
            }else{
                $('.base-currency').text(localStorage.getItem('base-currency').toUpperCase())
            }
        })
    </script>




    <script type="text/javascript" src="{% static 'users/js/custom/otp.js' %}"></script>

    



    {% block script %}{% endblock %}
    {% block embedded_scripts %}{% endblock embedded_scripts %}

</body>

</html>