<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
    <!-- font -->
    <link rel="stylesheet" href="fonts/fonts.css">
    <!-- Icons -->
    <link rel="stylesheet" href="fonts/font-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet"type="text/css" href="css/styles.css"/>


    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="images/logo/48.png" />
    <link rel="apple-touch-icon-precomposed" href="images/logo/48.png" />

    <title>exchange trade</title>
</head>

<body class="app-wallet">

    <div class="header-style2 fixed-top d-flex align-items-center justify-content-between bg-surface">
        <h3 class="d-flex gap-12">
            <a href="exchange-market.html" class="text-secondary">Market</a>
            <a href="#">Trade</a>
        </h3>
        <i class="icon-question text-white"></i>
    </div>
    <div class="pt-55 pb-120">
        <div class="tf-container">
            <div class="tf-tab pt-12 mt-4">
                <div class="tab-slide trade-tab">
                    <ul class="nav nav-tabs wallet-tabs" role="tablist" >
                        <li class="item-slide-effect"></li>
                        <li class="nav-item active" role="presentation">
                            <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#link">Convert & Link</button>
                        </li>
                        <li class="nav-item" role="presentation">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#order">Limit order</button>
						</li>
                    </ul>
                </div>
                <div class="tab-content pt-16 pb-16">
					<div class="tab-pane fade active show" id="link" role="tabpanel">
                        <div class="trade-box">
                            <div class="accent-box bg-menuDark">
                                <div class="text-small d-flex justify-content-between">
                                    <p class="text-white">Pay</p>
                                    <p class="d-flex align-items-center gap-20">
                                        <span class="d-flex align-items-center gap-4">
                                            <i class="icon-wallet fs-24"></i>
                                            5,988
                                        </span>
                                        <span class="text-primary">Max</span>
                                    </p>
                                </div>
                                <div class="coin-item style-1 gap-8 mt-20">
                                    <img src="images/coin/coin-3.jpg" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <h3 class="mb-4"><a href="#" class="d-flex align-items-center">ETH&nbsp;<i class="icon-select-down"></i></a></h3>
                                            <span>Ethereum</span>
                                        </div>
                                        <div class="box-price text-end">
                                            <h3 class="mb-4">1</h3>
                                            <span>$1.876,84</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="round-swap"><i class="icon icon-clockwise"></i></div>
                            <div class="accent-box bg-menuDark mt-8">
                                <div class="text-small d-flex justify-content-between">
                                    <p class="text-white">Receive</p>
                                    <span class="d-flex align-items-center gap-4">
                                        <i class="icon-wallet fs-24"></i>
                                        0,031025
                                    </span>
                                </div>
                                <div class="coin-item style-1 gap-8 mt-20">
                                    <img src="images/coin/coin-5.jpg" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <h3 class="mb-4"><a href="#" class="d-flex align-items-center">USDC&nbsp;<i class="icon-select-down"></i></a></h3>
                                            <span>Ethereum</span>
                                        </div>
                                        <div class="box-price text-end">
                                            <h3 class="mb-4">1,038633</h3>
                                            <p>$1,03 <span class="text-primary">(+0,69)</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						<a href="#success" class="tf-btn lg mt-20 primary" data-bs-toggle="modal">Approve</a>
                        <ul class="mt-20 accent-box line-border">
                            <li class="trade-list-item">
                                 <p class="d-flex align-items-center text-small gap-4">Reference <i class="icon-question fs-16 text-secondary"></i> </p>
                                 <p class="d-flex gap-8 text-white">1 ETH = 1.876,515984 USDC <i class="icon-clockwise2 fs-16"></i></p>
                            </li>
                            <li class="trade-list-item mt-16">
                                 <p class="d-flex align-items-center text-small gap-4">Estimated network charges</p>
                                 <p class="d-flex gap-8 text-white">$3,71 (1 Minute)</p>
                            </li>
                            <li class="trade-list-item mt-16">
                                 <p class="d-flex align-items-center text-small gap-4">Acceptable slippage<i class="icon-question fs-16 text-secondary"></i> </p>
                                 <a href="#" class="d-flex align-items-center gap-8">1% <i class="icon-arr-right fs-8"></i></a>
                            </li>
                            <li class="trade-list-item mt-16">
                                 <p class="d-flex align-items-center text-small gap-4">X Routing <i class="icon-question fs-16 text-secondary"></i> </p>
                                 <a href="#" class="d-flex gap-4 align-items-center">
                                    <img src="images/coin/coin-3.jpg" alt="img" class="img">
                                    <i class="icon-select-right"></i>
                                    <img src="images/coin/coin-5.jpg" alt="img" class="img">
                                    <i class="icon-arr-right fs-8"></i>
                                 </a>
                            </li>
                        </ul>

					</div>
					<div class="tab-pane fade" id="order" role="tabpanel">
						<div class="trade-box">
                            <div class="accent-box bg-menuDark">
                                <p class="text-small text-white">Sell</p>
                                <div class="coin-item style-1 gap-8 mt-20">
                                    <img src="images/coin/coin-6.jpg" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <h3 class="mb-4"><a href="#" class="d-flex align-items-center">ETH&nbsp;<i class="icon-select-down"></i></a></h3>
                                            <span>Ethereum</span>
                                        </div>
                                        <div class="box-price text-end">
                                            <h3 class="mb-4">5</h3>
                                            <span>$9.357,1</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="round-swap"><i class="icon icon-clockwise"></i></div>
                            <div class="accent-box bg-menuDark mt-8">
                                <p class="text-small text-white">Pay</p>
                                <div class="coin-item style-1 gap-8 mt-20">
                                    <img src="images/coin/coin-5.jpg" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <h3 class="mb-4"><a href="#" class="d-flex align-items-center">USDC&nbsp;<i class="icon-select-down"></i></a></h3>
                                            <span>Ethereum</span>
                                        </div>
                                        <div class="box-price text-end">
                                            <h3 class="mb-4">6,25</h3>
                                            <p>$6,24 (-99,93%)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="mt-4 accent-box bg-menuDark">
                            <li class="trade-list-item">
                                 <p class="text-xsmall">Sell WETH at exchange rate (-99,93%)</p>
                                 <p class="text-xsmall text-primary">Use market price</p>
                            </li>
                            <li class="mt-16">
                                <div class="pb-4 line-bt d-flex justify-content-between">
                                    <p class="text-button text-white">1,25</p>
                                    <p class="d-flex align-items-center gap-8 text-white text-small">USDC <i class="icon-clockwise2 fs-12 text-secondary"></i></p>
                                </div>
                                <p class="mt-4 text-xsmall">Market: 1 WETH = 1.870,921609 USDC</p>

                            </li>
                            <li class="mt-16">
                                 <a href="#" class="trade-list-item" data-bs-toggle="modal" data-bs-target="#filterDay">
                                    <span class="text-secondary">Due later</span>
                                    <span class="text-white">1 Day <i class="icon-arr-right fs-8 text-secondary"></i></span>
                                 </a>
                            </li>

                        </ul>
                        <a href="#" class="mt-20 tf-btn lg dark text-secondary">Not enough ETH balance in wallet</a>
					</div>
				</div>

            </div>
            <div class="mt-16 footer-fixed-v2" data-bs-toggle="modal" data-bs-target="#detailChart">
                <a href="#" class="trade-money-box">
                    <p>ETH/USDC</p>
                    <p class="d-flex align-items-center gap-8">
                        <span>1.876,251425</span>
                        <span class="text-red">-2,62</span>
                        <i class="icon-arr-right fs-12"></i>
                    </p>
                </a>
            </div>
        </div>
    </div>

    <div class="menubar-footer footer-fixed">
        <ul class="inner-bar">
            <li>
                <a href="home.html">
                    <i class="icon icon-home2"></i>
                    Home
                </a>
            </li>
            <li class="active">
                <a href="exchange-market.html">
                    <i class="icon icon-exchange"></i>
                    Exchange
                </a>
            </li>
            <li>
                <a href="earn.html">
                    <i class="icon icon-earn2"></i>
                    Earn
                </a>
            </li>
            <li>
                <a href="wallet.html">
                    <i class="icon icon-wallet"></i>
                    Wallet
                </a>
            </li>
        </ul>
    </div>

    <!--chart detail  -->
    <div class="modal fade action-sheet" id="detailChart">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="box-detail-chart">
                    <div class="top">
                        <h3 class="d-flex align-items-center gap-8">ETH/USDC <i class="icon-clockwise2 fs-16 text-secondary"></i></h3>
                        <h2 class="mt-4">1.845,9128</h2>
                        <p class="mt-4"><a class="text-red">-0,92</a>&emsp;Last 24 hours</p>
                    </div>
                    <div class="content">
                        <div class="tab-content mt-8 mb-16">
                            <div class="tab-pane fade" id="1h" role="tabpanel">
                                <div class="area-chart-1"></div>
                            </div>
                            <div class="tab-pane fade show active" id="1d" role="tabpanel">
                                <div class="area-chart-2"></div>
                            </div>
                            <div class="tab-pane fade" id="1w" role="tabpanel">
                                <div class="area-chart-3"></div>
                            </div>
                            <div class="tab-pane fade" id="1m" role="tabpanel">
                                <div class="area-chart-4"></div>
                            </div>
                            <div class="tab-pane fade" id="6m" role="tabpanel">
                                <div class="area-chart-5"></div>
                            </div>
                            <div class="tab-pane fade" id="1y" role="tabpanel">
                                <div class="area-chart-6"></div>
                            </div>
                        </div>
                        <ul class="tab-time" role="tablist">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#1h"  role="tab" aria-controls="1h" aria-selected="false">1H</a>
                            </li>
                            <li class="nav-item active">
                                <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#1d" role="tab" aria-controls="1d" aria-selected="true">1D</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#1w" role="tab" aria-controls="1w" aria-selected="false">1W</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#1m" role="tab" aria-controls="1m" aria-selected="false">1M</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#6m" role="tab" aria-controls="6m" aria-selected="false">6M</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#1y" role="tab" aria-controls="1y" aria-selected="false">1Y</a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h6 class="text-button">Token information</h6>
                        <ul class="mt-16 d-flex gap-16">
                            <li class="flex-1">
                                <a href="#" class="accent-box-v6 bg-surface d-flex justify-content-between align-items-center">
                                    <div class="content">
                                        <p class="text-small">ETH <span class="text-extra-small text-secondary">/ Ethereum</span></p>
                                        <span class="d-inline-block mt-8 coin-btn decrease">+1,62%</span>
                                    </div>
                                    <span class="icon-arr-right fs-12"></span>
                                </a>
                            </li>
                            <li class="flex-1">
                                <a href="#" class="accent-box-v6 bg-surface d-flex justify-content-between align-items-center">
                                    <div class="content">
                                        <p class="text-small">USDC </p>
                                        <span class="d-inline-block mt-8 coin-btn increase">+1,62%</span>
                                    </div>
                                    <span class="icon-arr-right fs-12"></span>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <!-- modal filter day-->
    <div class="modal fade action-sheet" id="filterDay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Set a custom due date</span>
                    <span class="icon-cancel" data-bs-dismiss="modal"></span>
                </div>
                <ul class="pb-12 line-bt">
                    <li><div class="d-flex justify-content-between align-items-center gap-8 text-large item-check">10 minutes <i class="icon icon-check-circle"></i> </div></li>
                    <li class="mt-4"><div class="d-flex  justify-content-between gap-8 text-large item-check">30 minutes <i class="icon icon-check-circle"></i></div></li>
                    <li class="mt-4"><div class="d-flex  justify-content-between gap-8 text-large item-check">1 hour <i class="icon icon-check-circle"></i></div></li>
                    <li class="mt-4"><div class="d-flex  justify-content-between gap-8 text-large item-check  active">1 day <i class="icon icon-check-circle"></i></div></li>
                    <li class="mt-4"><div class="d-flex  justify-content-between gap-8 text-large item-check">3 day <i class="icon icon-check-circle"></i></div></li>
                    <li class="mt-4"><div class="d-flex  justify-content-between gap-8 text-large item-check">7 day <i class="icon icon-check-circle"></i></div></li>
                    <li class="mt-4"><div class="d-flex  justify-content-between gap-8 text-large item-check">1 month <i class="icon icon-check-circle"></i></div></li>
                    <li class="mt-4"><div class="d-flex  justify-content-between gap-8 text-large item-check">3 month <i class="icon icon-check-circle"></i></div></li>
                    <li class="mt-4"><div class="d-flex  justify-content-between gap-8 text-large item-check">Custom <i class="icon icon-check-circle"></i></div></li>
                </ul>
                <a href="javascript:void(0);" class="item-check text-center text-button fw-6" data-bs-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>

     <!-- filter success -->
     <div class="modal fade modalCenter" id="success">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content success_box">
                <div class="icon-1 ani3">
                    <span class="circle-box lg bg-circle check-icon bg-primary"></span>
                </div>
                <div class="icon-2 ani5">
                    <span class="circle-box md bg-primary"></span>
                </div>
                <div class="icon-3 ani8">
                    <span class="circle-box md bg-primary"></span>
                </div>
                <div class="icon-4 ani2">
                    <span class="circle-box sm bg-primary"></span>
                </div>
                <div class="text-center">
                    <h2 class="text-surface">Successful!</h2>
                    <h1 class="mt-8 text-primary">$ 1200.0</h1>
                    <p class="mt-16 text-surface text-button">Notification</p>
                </div>

                <a href="home.html" class="tf-btn lg primary mt-40">Done</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
    <script type="text/javascript" src="js/apexcharts.js"></script>
    <script type="text/javascript" src="js/chart.bundle.min.js"></script>
    <script type="text/javascript" src="js/detail-chart.js"></script>
    <script type="text/javascript" src="js/main.js"></script>



</body>
</html>