{% extends 'users/layout.html' %}
{% load static %}


{% block content %}


    <div class="header-style2 fixed-top bg-menuDark">
        <div class="d-flex justify-content-between align-items-center">
            <a class="box-account" href="user-info.html">
                <img src="images/avt/avt2.jpg" alt="img" class="avt">
                <div class="info">
                    <p class="text-xsmall text-secondary user-uid"></p>
                    <h5 class="mt-4 user-email"></h5>

                </div>
            </a>
            <div class="d-flex align-items-center gap-8">
                <a href="#notification" class="icon-noti box-noti" data-bs-toggle="modal"></a>
            </div>
        </div>
    </div>


{#    WALLET BALANCE AND TOP#}
    <div class="pt-68 pb-80">
        <div class="bg-menuDark tf-container">
            <div class="pt-12 pb-12 mt-4">
                <h5><span class="text-primary">Total Assets</span> - <a href="#" class="choose-account" data-bs-toggle="modal" data-bs-target="#accountWallet"><span class="dom-text base-currency">USD </span> &nbsp;<i class="icon-select-down"></i></a> </h5>
                <h1 class="mt-16"><a href="#"><span class="total-balance">0.00</span> <span class="text-small base-currency">USD</span></a></h1>
                <ul class="mt-16 grid-4 m--16">
                    <li>
                        <a href="#0" class="tf-list-item d-flex flex-column gap-8 align-items-center" data-bs-toggle="modal" data-bs-target="#depositModal">
                            <span class="box-round bg-surface d-flex justify-content-center align-items-center"><i class="icon icon-way2"></i></span>
                            Deposit
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="tf-list-item d-flex flex-column gap-8 align-items-center"  data-bs-toggle="modal" data-bs-target="#withdrawalModal">
                            <span class="box-round bg-surface d-flex justify-content-center align-items-center"><i class="icon icon-way"></i></span>
                            Withdraw
                        </a>
                    </li>
                    <li>
                        <a href="#0" onclick="info('Rolling out soon...')" class="tf-list-item d-flex flex-column gap-8 align-items-center p2p">
                            <span class="box-round bg-surface d-flex justify-content-center align-items-center"><i class="icon icon-wallet"></i></span>
                            P2P Trading
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="tf-list-item d-flex flex-column gap-8 align-items-center" data-bs-toggle="modal" data-bs-target="#allHistoryModal">
                            <span class="box-round bg-surface d-flex justify-content-center align-items-center"><i class="icon icon-history"></i></span>
                            Recents
                        </a>
                    </li>
                </ul>
            </div>
        </div>






        <div class="bg-menuDark tf-container">
            <div class="pt-12 pb-12 mt-4">
                <div class="wrap-filter-swiper">
                        <div class="swiper-wrapper1 menu-tab-v3 mt-12" role="tablist">
                            <div class="swiper-slide1 nav-link active" data-bs-toggle="tab" data-bs-target="#market_by_general"  role="tab" aria-controls="favorites" aria-selected="true" style="font-size: 18px">
                                Account
                            </div>
                            <div class="swiper-slide1 nav-link h5" data-bs-toggle="tab" data-bs-target="#assets" role="tab" aria-controls="top" aria-selected="false" style="font-size: 18px">
                                Assets
                            </div>

                        </div>
                    <!-- </div> -->
                </div>
                <div class="tab-content mt-8" style="min-height: 60vh">
                    <div class="tab-pane fade show active" id="market_by_general" role="tabpanel">
                        <ul class="mt-16 d-flex gap-16">
                            <li class="flex-1">
                                <a href="#" class="accent-box-v6 bg-surface d-flex justify-content-between align-items-center">
                                    <div class="content">
                                        <p style="font-size: 17px">Funding</p>
                                        <span class="d-inline-block mt-8 bg-secondary p-1 rounded" style="font-size: 16px">20.32 USD</span>
                                    </div>
                                    <span class="icon-arr-right fs-12 report-show"></span>
                                </a>
                            </li>
                            <li class="flex-1">
                                <a href="#" class="accent-box-v6 bg-surface d-flex justify-content-between align-items-center">
                                    <div class="content">
                                        <p style="font-size: 17px">Locked</p>
                                        <span class="d-inline-block mt-8 bg-danger p-1 rounded" style="font-size: 16px">0.00 USD</span>
                                    </div>
                                    <span class="icon-arr-right fs-12" onclick="info('No locked funds')"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="assets" role="tabpanel">
                        <div class="d-flex justify-content-between">
                            Currency
                            <p class="d-flex gap-8">
                                <span>Balance</span>
                            </p>
                        </div>
                        <ul class="mt-16 assets_list">

                        </ul>
                    </div>

                </div>
            </div>
        </div>






    </div>


    <!-- SELECT BASE CURRENCY -->
    <div class="modal fade action-sheet" id="accountWallet">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Base Currency</span>
                    <span class="icon-cancel" data-bs-dismiss="modal"></span>
                </div>
                <ul class="mt-20 pb-16 base-currency-list">

                </ul>
            </div>

        </div>
    </div>


    <!-- notification -->
    <div class="modal fade modalRight" id="notification">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="header fixed-top bg-surface d-flex justify-content-center align-items-center">
                    <span class="left" data-bs-dismiss="modal"  aria-hidden="true"><i class="icon-left-btn"></i></span>
                    <h3>Notification</h3>
                </div>
                <div class="overflow-auto pt-45 pb-16">
                    <div class="tf-container">
                        <ul class="mt-12 notification-list">

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="confirmModalLabe" aria-hidden="true" style="background-color: #11150F" data-bs-backdrop="false" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #11150F">

                <div class="header fixed-top bg-surface d-flex justify-content-center align-items-center">
                    <a href="#0" data-bs-dismiss="modal" class="left"><i class="icon-left-btn"></i></a>
                    <h3 class="history-title text-capitalize">Confirm</h3>
                </div>

                <div class="pt-45 pb-90">
                    <div class="tf-container">
                        <p class="text-center text-small mt-4">Quantity</p>
                        <h1 class="mt-8 text-center history-qty">0.00 USD</h1>
                        <p class="text-center text-small mt-1 history-status text-capitalize">Action status</p>

                        <ul class="mt-40 accent-box-v4 bg-menuDark">
                            <li class="d-flex align-items-center justify-content-between pb-8 line-bt">
                                <span class="text-small">Transaction Account</span>
                                <span class="text-large text-white">My wallet</span>
                            </li>
                            <li class="d-flex align-items-center justify-content-between pt-8 pb-8 line-bt">
                                <span class="text-small">Transaction Fee </span>
                                <span class="text-large text-white text-end history-fee">0</span>
                            </li>
                            <li class="d-flex align-items-center justify-content-between pt-8 pb-8 line-bt">
                                <span class="text-small">Currency</span>
                                <span class="text-large text-white history-currency text-uppercase"></span>
                            </li>
                            <li class="d-flex align-items-center justify-content-between pt-8 pb-8 line-bt">
                                <span class="text-small">Time</span>
                                <span class="text-large text-white history-time">0.0.0 00:00</span>
                            </li>
                            <li class="d-flex align-items-center justify-content-between pt-8 pb-8 line-bt">
                                <span class="text-small history-medium-key">Address</span>
                                <span class="text-large text-white history-medium-value"></span>
                            </li>
                            <li class="d-flex align-items-center justify-content-between pt-8 pb-8">
                                <span class="text-small">Transaction Hash</span>
                                <span class="text-large text-white history-hash text-wrap flex-wrap"></span>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="menubar-footer footer-fixed bg-surface">
                    <div class="inner-bar">
                        <a href="javascript:void(0);" class="tf-btn lg primary" data-bs-toggle="modal" data-bs-target="#otpPin">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--Report detail  -->
    <div class="modal fade action-sheet" id="reportModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="box-detail-chart">
                    <div class="top">
                        <h3 class="d-flex align-items-center gap-8">Activity Report <i class="icon-clockwise2 fs-16 text-secondary"></i></h3>
                        <h2 class="mt-4 report-deposit">$0.00</h2>
                    </div>
                    <div class="content">
                        <div class="tab-content mt-8 mb-16">
                            <div class="tab-pane fade" id="1h" role="tabpanel">
                                <div class="area-chart-1"></div>
                            </div>
                            <div class="tab-pane fade show active" id="1d" role="tabpanel">
                                <div class="area-chart-2"></div>
                            </div>
                            <div class="tab-pane fade" id="1w" role="tabpanel">
                                <div class="area-chart-3"></div>
                            </div>
                            <div class="tab-pane fade" id="1m" role="tabpanel">
                                <div class="area-chart-4"></div>
                            </div>
                            <div class="tab-pane fade" id="6m" role="tabpanel">
                                <div class="area-chart-5"></div>
                            </div>
                            <div class="tab-pane fade" id="1y" role="tabpanel">
                                <div class="area-chart-6"></div>
                            </div>
                        </div>
                        <ul class="tab-time" role="tablist">
                            <li class="nav-item">
                                <a href="#" class="nav-link report-duration" data-value="0.04167" data-bs-toggle="tab" data-bs-target="#1h"  role="tab" aria-controls="1h" aria-selected="false">1H</a>
                            </li>
                            <li class="nav-item active">
                                <a href="#" class="nav-link report-duration active"  data-value="1" data-bs-toggle="tab" data-bs-target="#1d" role="tab" aria-controls="1d" aria-selected="true">1D</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link report-duration" data-value="7" data-bs-toggle="tab" data-bs-target="#1w" role="tab" aria-controls="1w" aria-selected="false">1W</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link report-duration" data-value="30" data-bs-toggle="tab" data-bs-target="#1m" role="tab" aria-controls="1m" aria-selected="false">1M</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link report-duration" data-value="180" data-bs-toggle="tab" data-bs-target="#6m" role="tab" aria-controls="6m" aria-selected="false">6M</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link report-duration" data-value="360" data-bs-toggle="tab" data-bs-target="#1y" role="tab" aria-controls="1y" aria-selected="false">1Y</a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h6 class="text-button">Activity Info</h6>
                        <ul class="mt-16 d-flex gap-16">
                            <li class="flex-1">
                                <a href="#" class="accent-box-v6 bg-surface d-flex justify-content-between align-items-center">
                                    <div class="content">
                                        <p style="font-size: 17px">Deposit</p>
                                        <span class="d-inline-block mt-8 bg-success p-1 rounded report-deposit" style="font-size: 16px">$0.00</span>
                                    </div>
                                </a>
                            </li>
                            <li class="flex-1">
                                <a href="#" class="accent-box-v6 bg-surface d-flex justify-content-between align-items-center">
                                    <div class="content">
                                        <p style="font-size: 17px">Withdrawal</p>
                                        <span class="d-inline-block mt-8 bg-danger p-1 rounded report-withdrawal" style="font-size: 16px">$0.00</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>




    {% include 'users/deposit.html' %}
    {% include 'users/withdrawal.html' %}
    {% include 'users/otp.html' %}
    {% include 'users/all-history.html' %}
{% endblock content %}

{% block script %}

{#    Wallets Script#}
    <script>
        $(function (){
            loadPage()
        })


        function loadPage(){
            showPreloader()
                $.ajax({
                  url : "{% url 'users:wallet' %}",
                  type: 'POST',
                  dataType: 'json',
                  data: {
                      'action': 'onload',
                      'base': localStorage.getItem('base-currency')
                  },
                  success: function(data){
                      hidePreloader()
                      if(data.status === "success"){
                          fix_data(data)
                      }
                  },
                    error: function(xhr, ajaxOptions, thrownError){
                      hidePreloader()
                      notify('error', xhr.status + ': ' + xhr.statusText)
                    },
                    beforeSend: function (xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                    }
                })
        }

        function fix_data(data){
            const wallets = data.wallets
            const markets = data.markets
            const history = data.history
            const convs = data.recent_conv
            $('.total-balance').text(fmtNum(data.total_balance))
            $('.user-email').text(data.user.email)
            $('.user-uid').text(data.user.uid)
            window.wallets = wallets
            window.markets = markets.general
            window.user_banks = data.user_banks

            $('.base-currency-list').html('')
            $.each(wallets, function(coin, balance){
                if($.inArray(coin, main_wallets) !== -1) {
                    coin = (coin === 'usdt') ? 'usd' : coin
                    let active = (localStorage.getItem('base-currency') === coin) ? 'active' : ''
                    $('.base-currency-list').append(
                        `<li><div class="d-flex justify-content-between align-items-center gap-8 text-large item-check dom-value select-base ${active}" data-currency="${coin}">${coin.toUpperCase()} <i class="icon icon-check-circle"></i> </div></li>`
                    )
                }
            })
            populate_market_data(markets.general)
            populate_assets(wallets)
            populate_recent_history(history)
            populate_recent_convs(convs)
            populate_notifications(data.notifications)
        }

        function populate_market_data(markets) {
            $('.market-data').html('')
            let count = 0;
            let chart = 0;
            $.each(markets, function (coin, details) {
                let change_dir = (details['change'] >= 0) ? 'up' : 'down'
                let change_class = (details['change'] >= 0) ? 'success' : 'danger'
                let display = ($.inArray(coin, main_wallets) !== -1) ? 'block' : 'none'
                if($.inArray(coin, main_wallets) !== -1){
                    count ++;

                }
                $('.market-data').append(
                    ` <div class="swiper-slide d-${display}">
                            <a href="#0" class="coin-box d-block">
                                <div class="coin-logo">
                                    <img src="{% static 'transactions/images/tokens' %}/${coin}.png" alt="img" class="logo">
                                    <div class="title">
                                        <p>${details['long']}</p>
                                        <span>${coin.toUpperCase()}</span>
                                    </div>
                                </div>
                                <div class="mt-8 mb-8 coin-chart">
                                    <div id="line-chart-${count}"></div>
                                </div>
                                <div class="coin-price d-flex justify-content-between">
                                    <span>$${fmtNum(details['price'])}</span>
                                    <span class="text-${change_class} d-flex align-items-center gap-2"><i class="icon-select-${change_dir} text-${change_class}"></i> ${details['change']}%</span>
                                </div>
                                <div class="blur bg${count}">
                                </div>

                            </a>
                        </div>`
                )

            })
        }

        function populate_assets(wallets) {
            $(`.assets_list`).html('')
                $.each(wallets, function (coin, bal) {
                    let details = window.markets[coin]
                    if(bal > 0){
                        $(`.assets_list`).append(
                            ` <li class="mt-16">
                                    <a href="#0" class="coin-item style-2 gap-12">
                                        <img src="{% static 'transactions/images/tokens' %}/${coin}.png" alt="img" class="img">
                                        <div class="content">
                                            <div class="title">
                                                <p class="mb-4 text-button">${coin.toUpperCase()}</p>
                                                <span class="text-secondary">${details.long}</span>
                                            </div>
                                            <div class="gap-12" style="text-align: right">
                                                <span style="display:block; font-size: 18px; font-family: monospace">${fmtNum(bal)}</span>
                                                <span class="text-secondary" style="font-size: 14px; line-height: 1.6">&asymp;${fmtNum(details.price * bal)} USD</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>`

                        )
                    }

                })
        }


        $('body').on('click', '.history-row', function(){
            var modal = new bootstrap.Modal(document.getElementById('historyModal'));
            modal.show();
        })

        $('body').on('click', '.select-base', function(){
            $('.select-base').removeClass('active')
            $(this).addClass('active')
            const currency = $(this).data('currency')
            $('.base-currency').text(currency.toUpperCase())
            localStorage.setItem('base-currency', currency)
            loadPage()
            $('#accountWallet').modal('hide')
        })

        $('body').on('click', '.history-row', function(){
            $('.history-title').text($(this).data('title'))
            $('.history-qty').text(`${fmtNum($(this).data('qty'))} ${$(this).data('currency').toUpperCase()}`)
            $('.history-type').text($(this).data('type'))
            $('.history-currency').text($(this).data('currency'))
            $('.history-fee').text($(this).data('fee'))
            $('.history-time').text($(this).data('time'))
            $('.history-ref').text($(this).data('ref'))
            $('.history-hash').text($(this).data('hash'))
            const status = $(this).data('status')
            $('.history-status').removeClass('text-danger').removeClass('text-success').removeClass('text-warning').text(status)

            if(status === 'pending'){
                $('.history-status').toggleClass('text-warning')
            }else if(status === 'failed'){
                $('.history-status').toggleClass('text-danger')
            }else{
                $('.history-status').toggleClass('text-success')
            }

            if($(this).data('medium') === 'bank'){
                $('.history-medium-key').text('Method')
                $('.history-medium-value').text('Bank Transfer')
            }else if($(this).data('medium') === 'uid'){
                $('.history-medium-key').text('Account UID')
                $('.history-medium-value').text(`${$(this).data('ref').toUpperCase()}: ${$(this).data('address')}`)
            }else{
                $('.history-medium-key').text('Address')
                $('.history-medium-value').text(trim($(this).data('address')))
            }


        })

        function populate_notifications(notes){
            $('.notification-list').html('')
                $.each(notes, function (index, d) {
                        const mt = (index === 0) ? '' : 'mt-12'
                        $('.notification-list').append(
                            ` <li class='${mt}'>
                                   <a href="#" class="noti-item bg-menuDark">
                                        <div class="pb-8 line-bt">
                                        <h5 class="text-button"><i class="dot-lg bg-primary"></i> ${d['title']}</h5>
                                            <p class="text-secondary">${d.body}</p>
                                        </div>
                                        <span class="d-block mt-8">${d.created_at}</span>
                                    </a>
                               </li>`
                        )

                })
        }

        function get_report(duration){
            showPreloader()
            $.ajax({
                url: wallet_base_url,
                type: 'POST',
                dataType: 'json',
                data: {
                    'action': 'report',
                    'duration': duration,
                    'category': 'all'
                },
                success: function (data) {
                    hidePreloader()
                    if (data.status === "success") {
                        $('.report-deposit').text(`$${data.deposit}`)
                        $('.report-withdrawal').text(`$${data.withdrawal}`)
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    hidePreloader()
                    notify('error', xhr.status + ': ' + xhr.statusText)
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                }
            })
        }

        $('.report-duration').click(function(){
            get_report($(this).data('value'))
        })

        $('.report-show').click(function (){
            const duration = $('.report-duration.active').data('value')
            get_report(duration)
            $('#reportModal').modal('show')
        })


    </script>




{% endblock script %}
{% block embedded_scripts %}
    <script type="text/javascript" src="{% static 'users/js/custom/withdrawal.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/custom/deposit.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/custom/history-transactions.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/custom/history-conversions.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/custom/settings-addbank.js' %}"></script>
{% endblock embedded_scripts %}








